*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
#logo-menu {
    height: 80px;
    width: auto;
    background-color: white;
}

nav {
    background-color: hsla(206, 90%, 31%, 0.677);
    width: 100%;
    height: 80px;
}

nav ul {
    float: right;
    margin-right: 5%;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin-left: 15px;
}

nav ul li a {
    color: white;
    font-size: 25px;
}

<!-------------FIN DEL MENU NAVEGACION----------------->

