/*
id #
class .
 */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
#logo-menu {
    height: 80px;
    width: auto;
    background-color: white;
}

body {
    scroll-behavior: smooth;
}

:root {
    --color-a: lightblue;
    --color-b: blue;
}

nav {
    background-color: hsla(206, 90%, 31%, 0.677);
    width: 100%;
    height: 80px;
}

nav ul {
    float: right;
    margin-right: 5%;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin-left: 15px;
}

nav ul li a {
    color: white;
    font-size: 25px;
}

/*-------FIN DEL MENU NAVEGACION-------*/

/*----------PRESENTACION---------------*/

section {
    font-size: 22px;
    color: blue;
    align: left;
    height: 100vh;
}

img#logo-principal{
    float: right;
}

#presentacion, #funciones, #contacto {
    margin: 50px auto;
    width: 80%;


}

#logo-principal{
    float: center;
    height: 350px;
    width: auto;
    background-color: white;
}




/*----------- boton de whatsapp------------*/
/* detalles https://soporte.dongee.com/es/articles/3840414-como-anadir-el-boton-de-whatsapp-a-una-pagina-web   */
.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: lightblue;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
  /*  box-shadow: 2px 2px 3px #999;*/
    z-index: 100;
  }
  
  .float:hover {
    text-decoration: none;
    color: green;
    background-color: white;
    border: 1px solid green;
  }
  
  
  .my-float {
    margin-top: 16px;
  }

/*-----fin de boton de whatsapp */

/*-----funciones----*/
#funciones img {
    width: 220px;
    height: auto;
}
.grid-funciones {

}