*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
#logo-menu {
    height: 80px;
    width: auto;
    background-color: white;
}

body {
    scroll-behavior: smooth;
    justify-content: space-between;
}


:root {
    --color-a: lightblue;
    --color-b: blue;
    --color-c: hsla(206, 90%, 31%, 0.677);
}

nav {
    background-color: var(--color-c);
    width: 100%;
    height: 80px;
}

nav ul {
    float: right;
    margin-right: 5%;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin-left: 15px;
}

nav ul li a {
    color: white;
    font-size: 25px;
}

/*-------FIN DEL MENU NAVEGACION-------*/

/*----------PRESENTACION---------------*/

section {
    font-size: 22px;
    color: blue;
    min-height: 80vh;
    padding: 25px;
}

img#logo-principal{
    float: right;
}

#presentacion, #funciones, #opciones, #contacto {
    margin: 50px auto;
    width: 80%;
    text-align: center;
    align-items: center; /*--- con centro todas las imágenes */
}

#logo-principal{
    float: center;
    height: 350px;
    width: auto;
    background-color: white;
}

.texto-presentacion {
    text-align: left;
    padding: 10px;
    align-items: center;
}


/*----------- boton de whatsapp------------*/
/* detalles https://soporte.dongee.com/es/articles/3840414-como-anadir-el-boton-de-whatsapp-a-una-pagina-web   */
.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: lightblue;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
  /*  box-shadow: 2px 2px 3px #999;*/
    z-index: 100;
}
  
.float:hover {
    text-decoration: none;
    color: green;
    background-color: white;
    border: 1px solid green;
}
  
.my-float {
    margin-top: 16px;
}

/*-----fin de boton de whatsapp */

/*-----funciones----*/
#funciones img, #opciones img {
    width: 220px;
    height: 180px;
}

.grid-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 20px;
    align-items: center;
}

section h2, h3, p {
    text-align: center;
}



.par {
    background-color: var(--color-c);
}

.par h2 {
    color: white;
    padding-top: 25px;
}

/*----idea: poner los items como si fuesen etiquetas de medicamentos-----*/
.item {
    background-color: white;
    padding: 20px;
    border: 1px solid lightblue;
    box-shadow: 10px 10px 15px -5px darkblue;
    border-radius: 60px;
    transition: 0.8s transform;
}

.item:hover {
    transform: scale(1.05);
}

.item a {
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: var(--color-b);
    border-radius: 10px;
    padding: 5px 10px;
    display: block;
    margin: 10px auto;
    width: 50%;

}


/*------ opciones disponibles -------*/

/*------ formulario de contacto -----*/
form {
    width: 50%;
    padding: 30px;
    margin: auto;
}
  
form * {
    display: block;
    width: 100%;
    margin: 5px 0;
}
  
form input {
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
}
  
form textarea {
    border: 1px solid gray;
    padding: 40px 5px;
    border-radius: 5px;
}
  
form button {
    color: var(--color-a);
    background-color: var(--color-b);
    text-decoration: none;
    display: block;
    border-radius: 15px;
    padding: 15px;
    width: auto;
    margin: auto;
}
  

/*------- footer ---------------*/
#logo-footer {
    background-color: white;
    width: 80%;
    height: auto;
    margin-left: 150px;
}

footer {
    padding: 20px;
    background-color: darkblue;
    color: white;
    text-align: center;
}


.grid-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 20px;
    align-items: center;
}

.item-footer {
    padding: 20px;
    border-radius: 60px;
}

.item-footer h2 {
    margin-bottom: 30px;
}

/*----- para ajustar el tamaño de los iconos de redes sociales ------*/
.redes a{
    font-size: 40px;
    color: white;
}